.fondoMainIndex{
    background-image: url("../assets/foto-de-fondo.jpg");
    width: 100%;
    height: 300px;
    background-position: center;
}
.catalogoIndex{
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-weight:bolder ;
    font-size: 50px;
    padding-top: 150px;
    padding-right: 500px;
    padding-bottom: 0px;
    padding-left: 500px; 
}

.catalogo2Index{
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-weight:bold;
    padding-top: 0px;
    padding-left: 600px;
    
}