.headerCatalogo{
    font-family: 'League Spartan', sans-serif;
    padding: 20px;
    background-color: #DB83A3;
    display: flex;
    justify-content: center;
    width: 100%;
}
.h2Catalogo{ 
    p{
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    font-weight: lighter;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 550px;
    margin-right: 550px;
}
}

.sectionCatalogo{ 
    img{
    padding: 10px;
    align-items: center;
    margin-left: 400px;
    
}
}