@media (max-width: 320px){

    .titulo{
        font-size: 30px;
    }
    .subtitulo{
        font-size: 15px;
    }

    nav .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .menu ul{
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding: 0.5rem 0;

    }
    nav label{
        display: inline-flex;
        color: white;
        cursor: pointer;
        align-items: end;
    }
    nav #toggle:checked ~ .menu{
        height: 100%;
        align-items: end;
    }
    .fondoMainIndex{
        background-image: url("../assets/foto-de-fondo.jpg");
        width: 100%;
        height: 300px;
        background-position: center;
    }
    .catalogoIndex{
        padding-top: 150px;
        padding-right: 500px;
        padding-bottom: 0px;
        padding-left: 40px;
        }
        .catalogo2Index{
        padding-left:130px;
        }
        .fondoFooterIndex div{
            font-size: 10px;
        }
        .divFooterIndex2{
            display: none;
        }

        .headerCatalogo{
            font-size: 20px;
        }
        
        .mainContactos{
            flex-direction: row;
        }
        .div1contactos{
            font-size: 12px;
        }
     
        .textoSN{
            font-size: 10px;
            top: 40%;
            
        }
        .footerSN nav ul li a{
            font-size: 6px;
        }
}   